* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to bottom, rgb(37 169 169), rgb(0, 0, 0));
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
li {
  list-style-type: none;
}
#nav-home {
  /* margin-top: 10px; */
  color: aliceblue;

  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#tohi {
  /* background-color: aqua; */
  text-align: center;
  width: 70%;
  color: aliceblue;
}
nav a {
  /* background-color: rgba(64, 224, 208, 0.178); */
  backdrop-filter: blur(6px);
  padding: 5px;
  color: black;
  text-decoration: none;
}
nav a:hover {
  /* text-decoration: underline; */
  border: 2px solid black;
  border-radius: 10px;
}
#con {
  width: 30%;
  color: aliceblue;
  border-radius: 10px;
  padding: 30px;
  margin-top: 250px;
  background-color: rgba(0, 0, 0, 0.281);
  border: 4px solid teal;
  backdrop-filter: blur(8px);
}
/*
*/
#add-su {
  color: black;
  border-radius: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(161, 159, 159, 0.836);
  backdrop-filter: blur(5px);
  box-shadow: 2px -1px 10px 4px #6b6b6b;
  width: 20%;
  height: 40%;
}
input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}
#etelauat-daneshamoz {
  font-size: 16px;
}

nav ul {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-sta;
}

.a-s {
  color: aliceblue;
  border: none !important;
  font-weight: bold;
  font-size: 18px;
}
