* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: myfont;
  src: url("../../font/Clust_Demo.ttf");
}
body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
li {
  list-style-type: none;
}
#nav-home {
  color: black;
  background-color: #f3f6f8;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#tohi {
  text-align: center;
  width: 70%;
  color: rgb(0, 136, 255);
}
nav a {
  backdrop-filter: blur(6px);
  padding: 5px;
  color: #000;
  transition: all 0.2s;
  text-decoration: none;
}

#etelauat-daneshamoz {
  font-size: 20px !important;
  z-index: 100000;
  position: fixed;
  left: 10px;
  top: 10px;
}
#con {
  width: 10%;
  color: aliceblue;
  border-radius: 10px;
  padding: 30px;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.281);
  border: 4px solid teal;
  backdrop-filter: blur(8px);
  margin-left: 20px;
}
#add-su {
  color: #0db6dd;
  border-radius: 10px;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #c9ccce54;
  box-shadow: -1px 0px 20px 5px #cdcdcd;

  backdrop-filter: blur(5px);
  width: 20%;
  height: 70%;
}
input {
  width: 60%;
  border: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding: 15px;
}
.input {
  width: 60%;
  border: none;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  padding: 15px;
}
#saveb {
  width: 60%;
  left: 0;
  color: #f3f6f8;
  background-color: #0ca113;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  position: absolute;
  left: 0;
  bottom: 20px;
  cursor: pointer;
}
#div-form {
  position: fixed;
  right: 0;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  align-items: flex-end;
}
#etelauat-daneshamoz {
  font-size: 16px;
  color: #0ca113;
}
nav ul {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-sta;
}
.a-s {
  color: rgb(0, 0, 0);
  border: none !important;
  font-weight: bold;
  font-size: 18px;
}
table {
  left: auto;
  right: auto;
  position: fixed;
  border-collapse: collapse;
  color: rgba(0, 0, 0, 0.671);
}
tr:nth-child(even) {
  background-color: #ffffff;
}
tr:nth-child(odd) {
  background-color: #abe5c6;
}
td {
  border: 2px solid #3ab173;
  padding: 15px;
}
th {
  background-color: #abe5c6;
  padding: 12px;
  border: 2px solid #3ab173;
}
#gol {
  width: 150px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}
.nomre {
  background-color: transparent;
  border-radius: 15px;
  border: none;
  padding: 6px 10px;
  color: #ffffff;
  background: #0ca113;
  font-weight: 600;
  font-size: 15px;
}
.delbtn {
  border-radius: 15px;
  background: #a10c0c;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #1110109d;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.add-sudent {
  border-radius: 10px;
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #c9cccecc;
  box-shadow: -1px 0px 20px 5px #cdcdcd;
  font-family: myfont;
  backdrop-filter: blur(5px);
  width: 20%;
  height: 50%;
  top: 28vh;
  left: 38.5vw;
  z-index: 50000000000000;
}
#continer {
  display: flex;
  width: 72%;
  justify-content: space-between;
}
#title {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 70px;
}
#dars {
  font-size: 6rem;
  font-family: myfont;
}

#from40 {
  font-size: 5rem;
  font-family: myfont;

  color: #0ca113;
}
#d {
  font-family: myfont;
  font-size: 1rem;
}
img {
  width: 400px;
}
#lorem {
  background-color: #0ca113;
  border: none;
  padding: 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  width: 15%;
}

#bishter {
  background-color: #0ca113;
  width: 100px;
  padding: 5px;
  font-size: 19px;
  text-align: center;
  color: #f3f6f8;
}
.hart {
  color: orange;
  font-size: 2rem;
  position: fixed;
  animation: falling 3.4s infinite ease-in;
  top: -5vh;
}
@keyframes falling {
  from {
    top: -5vh;
  }
  to {
    top: 240vh;
  }
}
#search {
  padding: 7px;
  width: 495px;
  border: 2px solid #3ab173;
  font-size: 16px;
  border-radius: 20px;
}
