* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(0deg, #0db6dd, #000000);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

li {
  list-style-type: none;
}
#nav-home {
  color: aliceblue;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#tohi {
  text-align: center;
  width: 70%;
  color: aliceblue;
}
nav a {
  backdrop-filter: blur(6px);
  padding: 5px;
  color: #b8c1c7 !important;
  transition: all 0.2s;
  text-decoration: none;
}
nav li:hover {
  padding: 5px;
  border: 2px solid #0db6dd;
  border-radius: 10px;
  background-color: #1a2327;
  color: aliceblue;
}
#etelauat-daneshamoz {
  font-size: 20px !important;
}
#con {
  width: 10%;
  color: aliceblue;
  border-radius: 10px;
  padding: 30px;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.281);
  border: 4px solid teal;
  backdrop-filter: blur(8px);
  margin-left: 20px;
}
#add-su {
  color: #0db6dd;
  border-radius: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #1a2327;
  backdrop-filter: blur(5px);
  width: 20%;
  height: 40%;
}
input {
  color: #0db6dd;
  width: 80%;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #0db6dd;
  background-color: transparent;
}
#saveb {
  border: 1px solid #0db6dd;
  border-radius: 10px;
  width: 20%;
  justify-content: center;
  box-shadow: #0db6dd 1px 0px 9px 0px;
  cursor: pointer;
}
#etelauat-daneshamoz {
  font-size: 16px;
}
nav ul {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-sta;
}
.a-s {
  color: aliceblue;
  border: none !important;
  font-weight: bold;
  font-size: 18px;
}
table {
  left: auto;
  right: auto;
  position: fixed;
  border-collapse: collapse;
  color: aliceblue;
}
tr:nth-child(even) {
  background-color: #1a2327;
}
tr:nth-child(odd) {
  background-color: #35464d;
}
td {
  border: 2px solid #0db6dd;
  padding: 15px;
}
th {
  padding: 12px;
  background-color: #000000;
  border: 2px solid #0db6dd;
}

.delbtn {
  width: 100%;
  border: none;
  cursor: pointer;
  height: 50px;
  color: aliceblue;
  background-color: transparent;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: #1110109d;
  backdrop-filter: blur(3px);
  z-index: 5;
}

.add-sudent {
  color: #0db6dd;
  border-radius: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #1a2327;
  backdrop-filter: blur(5px);
  width: 20%;
  height: 40%;
  position: fixed;
  top: 28vh;
  left: 38.5vw;
  z-index: 50000000000000;
}
